*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.jshintrc
.yo-rc.json
.editorconfig
client/bower_components
.jshintignore
.DS_Store
mongodb-scripts/.DS_Store
*.vscode